@import url('https://fonts.cdnfonts.com/css/louis-george-cafe');

body {
    min-height: 100vh;
    background-color: #e0e0e0;
    overflow-x: hidden;
}

.card {
    /* border: 1px solid #000000; */
    border-radius: 8px;
    /* background-color: #fff; */ /*Og color white na card*/
    background-color: rgba(255, 255, 255, 0.426); /*For transparrent bg*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548);
    overflow: hidden;
    padding: 35px 30px 75px 30px;
    margin: 15% 0 15% 0;
    height: 300px;
    width: 230px;
    transition: ease-out 0.15s;
}

.card:hover {
    transform: scale(1.1);
    transition: ease-in 0.25s;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.card-body {
    padding: 10px 20px;
    text-align: center; 
}

.card-body h2 {
    margin: 0;
    color: #333;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));/*responsive number of cards, pag nag zoom in mababawas nakalitaw pero naka gitna parin*/
    column-gap: 60px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

.about-us-title{
    text-align: center;
    margin: 70px 0 10px 0;
    font-size: 50px;
}

.story-container{
    width: 85%;
    margin: auto;
    padding: 20px;
    height: 1000px;
}

.story-section{
    text-align: center;
    margin: 200px 0 350px 0;
}

.history-story{
    text-align: center;
    margin: 200px 0 100px 0;
}

.history-story h1{
    margin-bottom: 20px;
    font-size: 50px;
}

.history-story p{
    font-size: 22px;
    color: black;
    max-width: 800px;
    margin: 0 auto;
}

.story-section h1{
    margin-bottom: 20px;
    font-size: 50px;
}

.story-section p{
    font-size: 22px;
    color: black;
    max-width: 800px;
    margin: 0 auto;
}

.gallery{
    display: flex;
    justify-content: center;
}

.image-container{
    margin: 10px;
}

.image-container img{
    width: 450px;
    height: 250px;
    border-radius: 20px;
    padding: 5px;
}

.thankyou{
    margin: 0 0 -300px 0;
}

.aboutus-front{
    background-image: url(Images/ABOUT-US-BG-TOP.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
}
.contents p{
    text-align: center;
    font-size: 18px;
}

.contents h1{
    font-size: 100px;
    text-align: center;
}