.TOC_Container{
    border: 1px solid ghostwhite;
    width: 97%;
    height: 300px;
    border-radius: 5px;
    background-color: #EEEEEE;
    box-shadow: 2px 2px 8px rgb(40, 39, 39);
    padding: 10px;
    margin: 0 auto;
}

.TOC_Container .Horizontal{
    display: flex;
    justify-content: space-around;
    align-items: last center;
    height: 100%;
}

.TOC_Container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    flex-wrap: wrap;
    align-content: center; */
}
.Horizontal {
    display: flex;
    align-items: center;
}

.TOC_Container li {

    font-size: 12px;
}

.TOC_Container a{
    color: rgb(65, 63, 63);
    text-decoration: none;
}

.TOC_Container a:hover{
    background-color: #222831;
    border-radius: 5px;
    color:white;
    transition: all 0.3s ease-in;
    padding: 0 5px;
    margin: 0 -5px;
}

.TOC_Container h1{
    padding-top: 20px;
    line-height: 0;
    font-size: 40px;
}